.leaflet-popup-content {
    font-size: 14px;
}

.leaflet-control-container {
    display: none;
}

.contact {
    &-top {
        padding: 1.5rem 0;
        background-color: $white;
        .back, .breadcrumbs {
            margin-top: 0;
        }
        .page-title {
            margin-top: 0;
        }
        .map {
            z-index: 0;
            height: 332px;
            border-radius: 1rem;
        }
        &__we-located {
            margin-top: 1.5rem;
            .title {
                font-size: 20px;
                line-height: 1.5rem;
                font-weight: bold;
            }
            .text {
                margin-top: 1rem;
                font-size: 1rem;
                line-height: 1.5rem;
                color: $dark-600;
            }
        }
    }
    &-bottom {
        padding-top: 1.5rem;
        .list {
            .item {
                @media (max-width: $device) {
                    &:not(:last-child) {
                        margin-bottom: 1rem;
                    }
                }
                &:first-child {
                    .title {
                        margin-top: 1rem;
                        font-size: 1.5rem;
                        line-height: 2rem;
                    }
                    .text {
                        margin-top: 1rem;
                        font-size: 1rem;
                        line-height: 1.5rem;
                    }
                }
                &:not(:first-child) {
                    padding: 1.5rem;
                    background-color: $white;
                    border-radius: 1rem;
                    .title {
                        font-size: 20px;
                        line-height: 1.5rem;
                    }
                    .text {
                        margin-top: .5rem;
                    }
                }
            }
            .title {
                font-weight: bold;
            }
            .text {
                color: $dark-600;
            }
            .links {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 20px;
                a {
                    display: flex;
                    align-items: center;
                    font-size: 13px;
                    line-height: 1.5rem;
                    color: $blue-700;
                    &:not(:last-child) {
                        margin-bottom: .5rem;
                    }
                    &:hover {
                        color: $dark-900;
                    }
                    svg {
                        margin-right: .5rem;
                        color: $dark-400;
                    }
                }
            }
            .schedule {
                display: flex;
                flex-wrap: wrap;
                margin: 20px -12px -24px;
                li {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin: 0 12px 24px;
                    span {
                        &:first-child {
                            margin-bottom: .5rem;
                            color: $dark-600;
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 360px) {
        &-bottom .list .links a {
            font-size: 1rem;
        }
    }
    @media (min-width: $ds) {
        &-top {
            padding-bottom: 64px;
            &__inner {
                display: flex;
            }
            .page-title {
                margin-bottom: 0;
            }
            &__we-located {
                margin-top: 96px;
                .title {
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
                .text {
                    margin-top: 17px;
                    font-size: 20px;
                    line-height: 30px;
                }
            }
            .map {
                flex-shrink: 0;
                width: 848px;
                margin-left: 2rem;
            }
        }
        &-bottom {
            padding-top: 64px;
            .list {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -16px -32px;
                .item {
                    width: calc(33.33% - 32px);
                    margin: 0 16px 32px;
                    &:first-child {
                        padding: 1.5rem;
                    }
                }
            }
        }
    }
}