.fixed-menu {
    position: fixed;
    z-index: 10;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -4px 6px -2px #10182808, 0px -12px 16px -4px #10182814;
    background-color: $violet-500;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0 11px;
        font-size: 10px;
        line-height: 16px;
        color: $white;
    }
    a {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2px 4px;
        color: rgba(255,255,255,.8);
        border-radius: 8px;
        &.active {
            color: #fff;
            background-color: #702D72;
        }
        svg {
            color: #fff;
        }
        .counter {
            right: 13px;
        }
        &.cart .counter {
            right: 8px;
        }
    }
    @media (min-width: 360px) {
        a {
            padding: 2px 6px;
        }
    }
    @media (min-width: $ds) {
        display: none;
    }
}