.form-group {
    position: relative;

    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }
}

.error-text {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    margin-top: 2px;
    font-size: 12px;
    line-height: 18px;
    color: $error-700;
}

.form-group {
    &:has(input.error-empty) .error-text.error-empty {
        display: block;
    }
    &:has(input.error-phone) .error-text.error-phone {
        display: block;
    }
    &:has(.form-group-title) .form-input {
        padding-top: 12px;
    }
}

.form-group-title {
    position: absolute;
    top: 4px;
    left: 12px;
    font-size: 10px;
    line-height: 1rem;
    font-weight: bold;
    color: $dark-400;
}

.form-input {
    width: 100%;
    height: 44px;
    padding: 0 11px;
    @extend .text-medium;
    border: 1px solid rgba(208, 213, 221, 1);
    border-radius: 8px;

    &::placeholder {
        color: $dark-600;
    }
    &[disabled] {
        background-color: $dark-100;
    }

    &:focus {
        border-color: $dark-900;

        & + .search-submit {
            color: $dark-900;
        }
    }

    &.error-empty {
        border-color: $error-500;

        & ~ .error-empty {
            display: block;
        }

        & ~ .form-group-title {
            color: $error-700;
        }
    }

    &.error-email {
        border-color: $error-500;

        & ~ .error-email {
            display: block;
        }

        & ~ .form-group-title {
            color: $error-700;
        }
    }

    &.error-phone {
        border-color: $error-500;

        & ~ .error-phone {
            display: block;
        }

        & ~ .form-group-title {
            color: $error-700;
        }
    }

    &.error-repeat-password {
        border-color: $error-500;

        & ~ .error-repeat-password {
            display: block;
        }
    }

    &.error-length-password {
        border-color: $error-500;

        & ~ .error-length-password {
            display: block;
        }
    }

    & + .search-submit {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        width: 44px;
        position: absolute;
        top: 0;
        left: 0;
        color: $dark-400;
    }

    @media (max-width: 1199px) {
        &:has(~ .search-popup__open-category-filter) {
            padding-right: 44px;
        }
    }
}

.form-textarea {
    display: block;
    height: 180px;
    padding: 9px 13px;
    resize: none;
}

.radio-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-radio {
    display: none;

    &:checked + .input-radio__icon {
        background-color: $cyan-500;
        border-color: $cyan-500;

        &:before {
            background-color: $dark-900;
        }
    }

    &__label {
        display: flex;
        align-items: flex-start;
        cursor: pointer;

        &:hover .input-radio__icon {
            border-color: $cyan-500;
        }
    }

    &__icon {
        flex-shrink: 0;
        position: relative;
        width: 24px;
        height: 24px;
        margin-right: 8px;
        background-color: $white;
        border: 1px solid $dark-300;
        border-radius: 50%;
        transition: all .3s;

        &:before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: transparent;
        }
    }

    &__value {
        flex-grow: 1;
        line-height: 24px;
    }
}

.input-checkbox {
    display: none;

    &:checked + .input-checkbox__icon {
        background: $cyan-500 url("../images/icons/icons.svg#check") no-repeat center;
        background-size: 18px;
        border-color: $cyan-500;
    }

    &__label {
        display: flex;
        align-items: flex-start;
        cursor: pointer;

        &:hover .input-checkbox__icon {
            border-color: $cyan-500;
        }
    }

    &__icon {
        flex-shrink: 0;
        position: relative;
        width: 24px;
        height: 24px;
        margin-right: 8px;
        background-color: $white;
        border: 1px solid $dark-300;
        border-radius: 4px;
        transition: background-color .3s, border-color .3s;
    }

    &__value {
        flex-grow: 1;
        line-height: 24px;
    }
}

.switch {
    margin-left: 1rem;
    cursor: pointer;

    input {
        display: none;

        &:checked + .switch__icon {
            background-color: $cyan-500;

            &:before {
                left: calc(100% - 22px)
            }
        }
    }

    &__icon {
        display: block;
        width: 44px;
        height: 24px;
        position: relative;
        background-color: $dark-300;
        border-radius: 24px;

        &:before {
            content: '';
            position: absolute;
            left: 2px;
            top: 2px;
            width: 20px;
            height: 20px;
            background-color: $white;
            border-radius: 50%;
            transition: all .3s;
        }
    }
}