.popup {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    &.active {
        opacity: 1;
        visibility: visible;
    }
    .popup-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(3, 12, 28, .5);
    }
    .inner {
        position: relative;
        width: calc(100% - 20px);
        max-width: 380px;
        max-height: calc(100vh - 20px);
        padding: 24px;
        background-color: $white;
        box-shadow: 0px 8px 8px -4px #10182808, 0px 20px 24px -4px #10182814;
        border-radius: 16px;
        overflow: auto;
        &:has(.title-vertical-center) {
            padding-top: 31px;
        }
    }
    .title {
        width: calc(100% - 56px);
        display: block;
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }
    .text {
        width: calc(100% - 56px);
        color: #475467;
    }
    .content {
        margin-top: 2rem;
        img {
            width: 100%;
        }
    }
    .close-popup {
        position: absolute;
        top: 22px;
        right: 22px;
        margin-left: 8px;
    }
    .btn {
        margin-top: 1.5rem;
    }
    @media (min-width: $ds) {
        .inner {
            max-width: 500px;
            padding: 2rem;
        }
        .text {
            padding-right: 64px;
            font-size: 1rem;
            line-height: 1.5rem;
        }
        .btn {
            margin-top: 2rem;
        }
    }
}

.popup.popup-login {
    .inner {
        width: 380px;
        max-width: calc(100% - 20px);
        padding-top: 42px;
    }
    .title {
        margin-bottom: 17px;
    }
    .form-group {
        margin-bottom: 0;
    }
    .login {
        &__text {
            margin-bottom: 23px;
            padding-right: 0;
        }
        &__btn {
            margin-top: 45px;
        }
        &__or {
            margin-top: 22px;
        }
        &__socials {
            margin-top: 22px;
            .btn {
                margin-top: 0;
                &:not(:last-child) {
                    margin-bottom: 23px;
                }
            }
        }
    }
    .error-text {
        margin-top: 5px;
    }
    .close-popup {
        top: 2rem;
        right: 2rem;
    }
}

.popup.popup-change-phone {
    &.active-dropdown .inner {
        height: 420px;
    }
    .inner {
        padding-top: 2rem;
    }
    .login__text {
        margin-bottom: 32px;
    }
    .btn {
        margin-top: 30px;
    }
    .close-popup {
        top: 22px;
    }
}

.popup.popup-information-saved {
    .inner {
        padding-top: 32px;
    }
    .login__text {
        margin-bottom: 32px;
        padding-right: 64px;
    }
    .btn {
        margin-top: 0;
    }
    .close-popup {
        top: 22px;
    }
}

.popup-choice-language-and-city {
    &[data-state="no-languages"] .choice-language {
        display: none;
        & ~ .choice-city {
            margin-top: 0;
            .title {
                padding-top: 6px;
                margin-bottom: 2rem;
                @media (min-width: 1200px) {
                    padding-top: 0;
                }
            }
        }
    }
    .choice-language {
        .list {
            display: flex;
        }
        li {
            &:not(:first-child) a {
                border-left: none;
            }
            &:first-child a {
                border-radius: 8px 0 0 8px;
            }
            &:last-child a {
                border-radius: 0 8px 8px 0;
            }
        }
        a {
            display: block;
            padding: 11px 15px;
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            border: 1px solid rgba(1, 4, 9, 0.15);
            &:hover {
                color: $dark-600;
            }
            &.active {
                color: $dark-600;
                background-color: $dark-100;
            }
        }
    }

    .choice-city {
        margin-top: 32px;
        .form-input {
            padding-left: 56px;
            &::placeholder {
                color: $dark-400;
            }
        }
    }
}