.sub-catalog-menu {
    &__header {
        padding-left: 8px;
    }
    &__back {
        @extend .d-flex;
        flex-shrink: 0;
        width: 32px;
        height: 32px;
        margin-right: 8px;
        &:hover {
            color: $cyan-500;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        padding: 0 !important;
        overflow: visible;
    }
    &__brands {
        margin-bottom: 24px;
        padding: 0 16px;
        .swiper-slide {
            width: 80px;
            a {
                @extend .d-flex;
                height: 45px;
                padding: 8px;
                background-color: $dark-100;
                border-radius: 8px;
                &:hover {
                    background-color: $dark-300;
                }
            }
        }
    }
    &__list {
        flex-grow: 1;
        padding: 0 16px 11px;
        overflow: auto;
    }
    &__item {
        &:not(:first-child) {
            margin-top: 24px;
        }
        ul {
            &.subcategories-hidden {
                li:not(.sub-catalog-menu__more-wrap) {
                    display: none;
                    &:nth-child(-n+6) {
                        display: block;
                    }
                }
            }
            li {
                margin-top: 12px;
            }
            a {
                color: $dark-600;
                &:hover {
                    color: $cyan-500;
                }
            }
        }
    }
    &__link {
        @extend .text-medium;
        font-weight: 700;
    }
    &__more {
        display: inline-flex;
        align-items: center;
        font-weight: 500;
        &:hover {
            color: $cyan-500;
        }
        &.active svg {
            transform: rotate(180deg);
        }
        &-wrap {
            margin-top: 12px;
        }
        svg {
            margin-left: 4px;
            transition: all .3s;
        }
    }
    @media (min-width: 360px) {
        &__header {
            padding-left: 22px;
        }
        &__back {
            width: 44px;
            height: 44px;
        }
        &__brands {
            padding: 0 32px;
        }
        &__list {
            padding: 0 32px 11px;
        }
    }
}