.banner-between-products {
    margin: -24px 0 8px;
    display: flex;
    flex-wrap: wrap;
    .item {
        position: relative;
        width: calc(50% - 16px);
        margin: 0 8px 16px;
        .img {
            overflow: hidden;
            border-radius: 16px;
        }
        img {
            width: 100%;
            object-fit: cover;
            transition: all .3s;
        }
        .link {
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            &:hover + .img img {
                transform: scale(1.05);
            }
        }
    }
    .tooltip-slider {
        top: 8px;
        right: 8px;
    }
    @media (max-width: 767px) {
        .item {
            .tooltip-slider__dropdown {
                width: 130px;
                right: -4px;
                margin-right: 0;
                margin-top: 10px;
                top: 100%;
                &:before {
                    top: -5px;
                    right: 54px;
                }
            }
        }
    }
    @media (min-width: 375px) and (max-width: 767px) {
        .item {
            .tooltip-slider__dropdown {
                width: 167px;
            }
        }
    }
    @media (min-width: $ds) {
        margin: 48px -12px;
        .item {
            width: calc(25% - 24px);
            margin: 0 12px;
        }
    }
}