.banner-between-products {
    margin: -24px 0 8px;
    display: flex;
    flex-wrap: wrap;
    .item {
        position: relative;
        width: calc(50% - 16px);
        margin: 0 8px 16px;
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 16px;
        }
    }
    .tooltip {
        top: 8px;
        right: 8px;
    }
    @media (max-width: 767px) {
        .item {
            .tooltip-dropdown {
                width: 130px;
                right: -4px;
                margin-right: 0;
                margin-top: 10px;
                top: 100%;
                &:before {
                    top: -5px;
                    right: 54px;
                }
            }
        }
    }
    @media (min-width: 375px) and (max-width: 767px) {
        .item {
            .tooltip-dropdown {
                width: 167px;
            }
        }
    }
    @media (min-width: $ds) {
        margin: 48px -12px;
        .item {
            width: calc(25% - 24px);
            margin: 0 12px;
        }
    }
}