.liquidation-of-goods-banner {
    margin-top: 24px;
    display: block;
    overflow: hidden;
    border-radius: 4.23px;
    &:hover img {
        transform: scale(1.05);
    }
    img {
        width: 100%;
        object-fit: cover;
        transition: all .3s;
    }
    @media (min-width: $ds) {
        border-radius: 1rem;
    }
}