.pagination {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    &-wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
    }
    &__prev, &__next, &__button {
        background-color: $white;
        border: 1px solid $dark-300;
        border-radius: 8px;
    }
    &__prev, &__next {
        width: 52px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            color: $dark-900;
            border-color: $dark-900;
        }
        &:active {
            border-color: $dark-300;
        }
    }
    &__button {
       min-width: 120px;
    }
    &__dropdown {
        max-width: 100%;
    }
    &__dots {
        pointer-events: none;
    }
    @media (max-width: $device) {
        &__dots, &__last {
            display: none;
        }
        //&__link {
        //    display: block;
        //    padding: 10px 42px 10px 14px;
        //    transition: background-color .3s;
        //    &.active {
        //        background: url("../images/icons/icons.svg#check-violet") no-repeat right 14px center;
        //        background-size: 20px;
        //    }
        //    &:not(.pagination__dots):hover {
        //        color: $dark-900;
        //        background-color: $dark-100;
        //    }
        //}
    }
    @media (min-width: $ds) {
        display: flex;
        &__button {
            display: none;
        }
        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 44px;
            height: 44px;
            padding: 0;
            font-weight: 500;
            background: $white;
            border-radius: 8px;
            border: 1px solid $white;
            box-shadow: 0px 1px 2px 0px #1018280D;
            user-select: none;
            transition: all .3s;
            &:not(:last-child) {
                margin-right: .5rem;
            }
            &.active, &:not(.pagination__dots):hover {
                color: $dark-900;
                background: $white;
                border-color:  $cyan-500;
            }
        }
        &__dots {
            width: 47px;
        }
        &__last {
            width: 53px;
            margin-right: 0 !important;
        }
        &__prev, &__next {
            border: 1px solid $white;
            &:hover {
                border-color:  $cyan-500;
            }
        }
    }
}