<div class="fixed-menu">
    <div class="container">
        <ul>
            <li>
                <a href="/" class="active">
                    <svg width="24" height="24">
                        <use href="images/icons/icons.svg#home"></use>
                    </svg>
                    Главная
                </a>
            </li>
            <li>
                <a href="#" class="open-catalog-js catalog-button catalog-button-js">
                    <svg width="24" height="24">
                        <use href="images/icons/icons.svg#catalog"></use>
                    </svg>
                    Каталог
                </a>
            </li>
            <li>
                <a href="#" class="comparison-button-js">
                    <svg width="24" height="24">
                        <use href="images/icons/icons.svg#compare-big"></use>
                    </svg>
                    Сравнение
                    <span class="counter counter-comparison-js"></span>
                </a>
            </li>
            <li>
                <a href="wishlist.html" class="wishlist-button-js">
                    <svg width="24" height="24">
                        <use href="images/icons/icons.svg#heart-big"></use>
                    </svg>
                    Избранное
                    <span class="counter counter-wishlist-js"></span>
                </a>
            </li>
            <li>
                <a href="cart.html" class="cart cart-button-js">
                    <svg width="24" height="24">
                        <use href="images/icons/icons.svg#shopping-cart-big"></use>
                    </svg>
                    Корзина
                    <span class="counter counter-basket-js"></span>
                </a>
            </li>
        </ul>
    </div>
</div>