<div class="container">
    <div class="footer__top">

        <div class="footer__logo-wrap">
            <a href="/" class="footer__logo">
                <img src="images/components/logo.png" width="136" height="32" alt="Mego">
            </a>
            <span class="footer__logo-text">Job</span>
        </div>

        <nav class="footer__top-menu">
            <a href="#">Офис</a>
            <a href="#">Производство</a>
            <a href="#">Продажи</a>
            <a href="#">Логистика</a>
            <a href="#">Склад</a>
        </nav>

        <div class="footer__socials">
            <a href="#facebook" class="facebook" target="_blank" rel="nofollow" aria-label="Facebook">
                <svg width="24" height="25">
                    <use href="images/icons/icons.svg#facebook"></use>
                </svg>
            </a>

            <a href="#instagram" class="instagram" target="_blank" rel="nofollow" aria-label="Instagram">
                <svg width="24" height="25">
                    <use href="images/icons/icons.svg#instagram"></use>
                </svg>
            </a>

            <a href="#youtube" class="youtube" target="_blank" rel="nofollow" aria-label="Youtube">
                <svg width="24" height="25">
                    <use href="images/icons/icons.svg#youtube"></use>
                </svg>
            </a>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="footer__qr-code-wrap">
            <div class="footer__qr-code">
                <img src="images/components/footer/qr-code.png" width="131" height="131" alt="">
            </div>

            <div class="footer__qr-code-text">Заказывайте в нашем мобильном приложении и получайте бонусы</div>

            <div class="footer__download-app">
                <a href="#" target="_blank" rel="nofollow">
                    <img src="images/components/footer/app-store.png" width="132" height="44" alt="App Store">
                </a>
                <a href="#" target="_blank" rel="nofollow">
                    <img src="images/components/footer/google-play.png" width="149" height="44" alt="Google Play">
                </a>
            </div>
        </div>

        <div class="footer__wrap-menu-copyright">
            <div class="footer__menu">
                <div class="footer__menu-item">
                    <h3 class="footer__menu-header footer-menu-header-js active">
                        Компания
                        <svg width="18" height="18">
                            <use href="images/icons/icons.svg#chevron-down-small"></use>
                        </svg>
                    </h3>

                    <nav class="footer__menu-list footer-menu-list-js">
                        <ul>
                            <li>
                                <a href="#">О нас</a>
                            </li>
                            <li>
                                <a href="#">Вакансии</a>
                            </li>
                            <li>
                                <a href="#">Стать курьером</a>
                            </li>
                            <li>
                                <a href="#">Реквизиты</a>
                            </li>
                            <li>
                                <a href="#">Контакты</a>
                            </li>
                            <li>
                                <a href="#">Мобильное приложение</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="footer__menu-item">
                    <h3 class="footer__menu-header footer-menu-header-js">
                        Продавцам
                        <svg width="18" height="18">
                            <use href="images/icons/icons.svg#chevron-down-small"></use>
                        </svg>
                    </h3>

                    <nav class="footer__menu-list footer-menu-list-js">
                        <ul>
                            <li>
                                <a href="#">Стать продавцом</a>
                            </li>
                            <li>
                                <a href="#">Стать поставщиком</a>
                            </li>
                            <li>
                                <a href="#">Документация для партнёров</a>
                            </li>
                            <li>
                                <a href="#">Партнёрская программа</a>
                            </li>
                            <li>
                                <a href="#">Производителям</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="footer__menu-item">
                    <h3 class="footer__menu-header footer-menu-header-js">
                        Компаниям
                        <svg width="18" height="18">
                            <use href="images/icons/icons.svg#chevron-down-small"></use>
                        </svg>
                    </h3>

                    <nav class="footer__menu-list footer-menu-list-js">
                        <ul>
                            <li>
                                <a href="#">Добавить компанию</a>
                            </li>
                            <li>
                                <a href="#">Мои компании</a>
                            </li>
                            <li>
                                <a href="#">Подарочные сертификаты</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="footer__menu-item">
                    <h3 class="footer__menu-header footer-menu-header-js">
                        Помощь
                        <svg width="18" height="18">
                            <use href="images/icons/icons.svg#chevron-down-small"></use>
                        </svg>
                    </h3>

                    <nav class="footer__menu-list footer-menu-list-js">
                        <ul>
                            <li>
                                <a href="#">Как выбрать товар</a>
                            </li>
                            <li>
                                <a href="#">Оплата и доставка</a>
                            </li>
                            <li>
                                <a href="#">Обратная связь</a>
                            </li>
                            <li>
                                <a href="#">Возвраты</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="footer__copyright">
                <a href="#">&copy; 2023 «mego»</a>
            </div>
        </div>
    </div>
</div>