<div class="popup popup-login" id="popup-login">
    <div class="popup-bg popup-bg-js"></div>
    <div class="inner">
        <div class="title title-vertical-center">Войти</div>

        <div class="login__text">Мы отправим вам код в СМС<br> или позвоним</div>

        <form action="" class="form-valid-js no-scroll-to-error">
            <div class="form-group">
                <input type="tel" id="phone" class="form-input phone-countries-js form-input-required-js form-input-phone-js" name="phone"
                       placeholder="Телефон"/>
                <span class="error-text error-empty">Это обязательное поле</span>
                <span class="error-text error-phone">Некорректный номер телефона</span>
            </div>
            <button class="btn login__btn btn-full-width btn-green">Войти</button>
        </form>

        <div class="login__or">
            <span>или</span>
        </div>

        <div class="login__socials">
            <button class="btn btn-full-width btn-google">
                <svg width="24" height="24">
                    <use href="images/icons/icons.svg#login-google"></use>
                </svg>
                Вход через Google
            </button>
            <button class="btn btn-full-width btn-google">
                <svg width="24" height="24">
                    <use href="images/icons/icons.svg#login-facebook"></use>
                </svg>
                Вход через Facebook
            </button>
        </div>

        <button type="button" class="close-popup close-popup-js" aria-label="Закрыть">
            <svg width="18" height="18">
                <use href="images/icons/icons.svg#close"></use>
            </svg>
        </button>
    </div>
</div>