<!-- Уведомление о добавлении товара в корзину -->
@@include('notification.html', {})

<!-- Фиксированное нижнее меню -->
@@include('fixed-bottom-menu.html', {})

<!-- Выбор языка и города -->
@@include('popup-choice-language-and-city.html', {})

<!-- Меню юзера -->
@@include('user-menu.html', {})

<!-- Каталог -->
@@include('catalog.html', {})

<!-- Подкаталог -->
@@include('sub-catalog.html', {})

<!-- Поиск -->
@@include('search.html', {})

<!-- Поиск: фильтр по категории на мобильной версии -->
@@include('search-filter-category/search-filter-category-mobile.html', {})

<!--
    Поиск: фильтр по категории на десктоп версии, категории перенесутся
    с мобильной версии
 -->
@@include('search-filter-category/search-filter-category-desktop.html', {})

<!-- Кнопка "вверх" -->
@@include('button-to-top.html', {})

<!-- Desktop popup login -->
@@include('popup-login.html', {})