<div class="catalog-menu search-popup" id="search-popup">
    <div class="catalog-menu__header">
        <div class="title">Поиск</div>

        <button class="close-popup close-search-js" aria-label="Закрыть поиск">
            <svg width="18" height="18">
                <use href="images/icons/icons.svg#close"></use>
            </svg>
        </button>
    </div>

    <div class="catalog-menu__content search-popup__content">
        <div class="search-popup__inner">
            <form class="search-form search-form-js">
                <div class="form-group">

                    <button
                            type="button"
                            class="search-form__select-category open-popup-js"
                            data-target="#search-filter-category-popup"
                            aria-label="Открыть фильтр по категориям">
                        <span class="search-form__current-category" id="search-form-current-category">Везде</span>
                        <svg width="18" height="18" id="search-form-select-category-cancel">
                            <use href="images/icons/icons.svg#chevron-down-small"></use>
                        </svg>
                    </button>

                    <input type="text" class="form-input search-form__input search-form-input-js"
                           placeholder="Искать товары">

                    <button class="search-submit search-form__submit">
                        <svg width="18" height="18">
                            <use href="images/icons/icons.svg#search"></use>
                        </svg>
                    </button>

                    <button type="button" class="search-popup__open-category-filter" id="search-open-category-filter">
                        <svg width="18" height="18">
                            <use href="images/icons/icons.svg#settings"></use>
                        </svg>
                    </button>
                </div>
            </form>
        </div>

<!--        <div class="search-popup__popular-categories-wrap">-->
<!--            <div class="title">Популярные категории</div>-->

<!--            <div class="search-popup__popular-categories search-popup-popular-categories-js">-->
<!--                <div class="swiper-wrapper">-->
<!--                    <div class="swiper-slide">-->
<!--                        <a href="#">-->
<!--                            <span class="category-img">-->
<!--                                <img src="images/components/search/popular-categories/image-1.jpg" width="133"-->
<!--                                     height="133" alt="">-->
<!--                            </span>-->
<!--                            <span class="category-title">Женщинам</span>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="swiper-slide">-->
<!--                        <a href="#">-->
<!--                            <span class="category-img">-->
<!--                                <img src="images/components/search/popular-categories/image-2.jpg" width="133"-->
<!--                                     height="133" alt="">-->
<!--                            </span>-->
<!--                            <span class="category-title">Мужчинам</span>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="swiper-slide">-->
<!--                        <a href="#">-->
<!--                            <span class="category-img">-->
<!--                                <img src="images/components/search/popular-categories/image-3.jpg" width="133"-->
<!--                                     height="133" alt="">-->
<!--                            </span>-->
<!--                            <span class="category-title">Детям</span>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="swiper-slide">-->
<!--                        <a href="#">-->
<!--                            <span class="category-img">-->
<!--                                <img src="images/components/search/popular-categories/image-4.jpg" width="133"-->
<!--                                     height="133" alt="">-->
<!--                            </span>-->
<!--                            <span class="category-title">Уход и аксессуары</span>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="swiper-slide">-->
<!--                        <a href="#">-->
<!--                            <span class="category-img">-->
<!--                                <img src="images/components/search/popular-categories/image-5.jpg" width="133"-->
<!--                                     height="133" alt="">-->
<!--                            </span>-->
<!--                            <span class="category-title">Смартфоны</span>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>