<div class="catalog-menu sub-catalog-menu" id="sub-catalog-menu">
    <div class="catalog-menu__header sub-catalog-menu__header">
        <button class="sub-catalog-menu__back" id="sub-catalog-menu-back">
            <svg width="18" height="18">
                <use href="images/icons/icons.svg#arrow-left"></use>
            </svg>
        </button>

        <div class="title" id="sub-catalog-menu-title"></div>

        <button class="close-popup close-sub-catalog-js" aria-label="Закрыть подкаталог">
            <svg width="18" height="18">
                <use href="images/icons/icons.svg#close"></use>
            </svg>
        </button>
    </div>

    <div class="catalog-menu__content sub-catalog-menu__content" id="sub-catalog-content" data-lang-more="Ещё"
         data-lang-collapse="Свернуть">
    </div>
</div>