.cart__item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    &-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 23px 1rem 24px;
        border-top: 1px solid $dark-300;

        .status-list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .status {
            padding: 2px 8px;
            font-size: 12px;
            line-height: 18px;

            &:not(:last-child) {
                margin-bottom: .5rem;
            }
        }
    }

    .input-checkbox {
        &__label {
            position: absolute;
            top: 0;
            right: 0;
        }

        &__icon {
            margin-right: 0;
        }
    }

    .img {
        flex-shrink: 0;
        width: 64px;
        height: 64px;
        margin-right: .5rem;
        border-radius: .5rem;
        overflow: hidden;

        &:hover img {
            transform: scale(1.05);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .3s;
        }
    }

    .status-list {
        margin-bottom: .5rem;
    }

    .title-wrap {
        width: calc(100% - 72px);
        padding-right: 2rem;
    }

    .seller {
        margin-top: .5rem;

        span {
            color: $dark-600;
        }
    }

    .price-amount-wrap {
        flex-shrink: 0;
        width: 100%;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .price-block {
        .old-price {
            margin-bottom: 2px;
            font-size: 12px;
            line-height: 18px;
        }

        .price {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }

    .amount {
        height: 44px;

        &__minus, &__plus, &__input {
            width: 44px;
        }
    }
    @media (min-width: $ds) {
        flex-wrap: nowrap;
        &-wrap {
            padding: 23px 2rem 1.5rem 5rem;
            .status-list {
                flex-direction: row;
            }
            .status:not(:last-child) {
                margin-bottom: 0;
                margin-right: .5rem;
            }
        }
        .input-checkbox__label {
            top: 0;
            right: auto;
            left: -3rem;
        }
        .title-wrap {
            flex-grow: 1;
            width: auto;
            padding-right: 0;
        }
        .price-amount-wrap {
            flex-direction: column;
            width: auto;
            margin-top: 0;
            margin-left: 1.5rem;
        }
        .amount {
            order: -1;
            border-radius: .5rem;
        }
        .price-block {
            margin-top: 9px;
            align-items: center;
            .old-price {
                margin-bottom: 1px;
            }
        }
    }
}