.product-characteristics {
    margin-top: 2rem;
    margin-left: -1rem;
    width: calc(100% + 2rem);
    padding: 24px 1rem;
    background-color: $white;
    .description {
        height: 400px;
        &:before {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
        }
    }
    .inner, .inner ul {
        padding-left: 0;
        list-style: none;
        li:before {
            display: none;
        }
    }
    .item {
        list-style: none;
        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }
    .title {
        margin-bottom: .5rem;
        font-size: 20px;
        line-height: 1.5rem;
        font-weight: bold;
    }
    .list {
        li {
            display: flex;
            justify-content: space-between;
            padding: .5rem;
            font-size: 12px;
            line-height: 18px;
            background-color: $dark-100;
            border-radius: .5rem;
            &:not(:last-child) {
                margin-bottom: 2px;
            }
            & > span {
                width: calc(50% - .5rem);
                &:first-child {
                    color: $dark-600;
                }
            }
        }
    }
    .btn {
        margin-top: 1rem;
    }
    @media (min-width: 360px) {
        .list li {
            font-size: 14px;
            line-height: 20px;
        }
    }
    @media (min-width: $ds) {
        margin-top: 64px;
        margin-left: 0;
        width: 100%;
        padding: 48px;
        border-radius: 1rem;
        .description {
            height: 280px;
        }
        .inner {
            margin-bottom: 20px;
            column-count: 3;
            column-gap: 24px;
        }
        .item {
            break-inside: avoid-column;
        }
        .btn {
            margin-top: .5rem;
            &.active {
                margin-top:  20px;
            }
        }
    }
}