.product-description {
    height: 263px;
    &-wrap {
        margin-top: 2rem;
        margin-left: -1rem;
        width: calc(100% + 2rem);
        padding: 24px 1rem;
        background-color: $white;
        .btn {
            margin-top: 1.5rem;
        }
    }
}