@import "product-header";
@import "product-slider";
@import "product-seller-info";
@import "product-purchase";
@import "product-promotion";
@import "product-variants";
@import "product-purchase-additions";
@import "product-tabs";
@import "product-series-from-brand";
@import "offers-others-seller";
@import "buy-together";
@import "description";
@import "characteristics";
@import "reviews";
@import "rating";
@import "sticky-buy-block";

.product {
    &-page-wrap {
        &:has(.fancybox__container.is-closing) {
            margin-right: 0;
            overflow: visible !important;
        }
        .fancybox__container.is-closing {
            .fancybox__carousel, .fancybox__footer {
                display: none;
            }
        }
        .fancybox__backdrop {
            background: rgba(15, 17, 17, .5);
        }
        .fancybox__carousel {
            background-color: $white;
        }
        .fancybox__footer {
            background: $white;
        }
        .wrapper {
            padding-bottom: 114px;
        }
        @media (max-width: $device) {
            .button-to-top, .notification {
                bottom: 129px;
            }
        }
        @media (min-width: $ds) {
            .fancybox__carousel {
                margin: 4rem 4rem 0;
                border-radius: .5rem .5rem 0 0;
            }
            .fancybox__toolbar {
                top: 4rem;
                left: 4rem;
                right: 4rem;
                border-radius: 0 .5rem 0 0;
                overflow: hidden;
            }
            .fancybox__footer {
                margin: 0 4rem 4rem;
                border-radius: 0 0 .5rem .5rem;
            }
        }
    }

    &-page {
        .section-title {
            font-size: 1.5rem;
            line-height: 2rem;
        }
        .tooltip__btn {
            svg {
                transition: all .3s;
            }
            &:hover svg {
                color: $dark-900 !important;
            }
        }
    }

    &__inner {
        margin-top: 24px;
    }

    &__right {
        margin-top: 24px;
    }
    &__image-preloader {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
        &-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background-color: $white;
            visibility: hidden;
            opacity: 0;
            //transition: opacity .3s;
            &.active {
                visibility: visible;
                opacity: 1;
            }
        }
        div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 80px;
            height: 80px;
            border: 8px solid $blue-700;
            border-radius: 50%;
            animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: $blue-700 transparent transparent transparent;
        }
        div:nth-child(1) {
            animation-delay: -0.45s;
        }
        div:nth-child(2) {
            animation-delay: -0.3s;
        }
        div:nth-child(3) {
            animation-delay: -0.15s;
        }
    }
    @media (max-width: $mobile) {
        &-page-wrap .button-to-top.notification-is-active {
            bottom: 186px;
        }
    }
    @media (min-width: $tv) and (max-width: $device) {
        &-page-wrap {
            .wrapper {
                padding-bottom: 136px;
            }
            .button-to-top, .notification {
                bottom: 150px;
            }
        }
    }
    @media (min-width: $ds) {
        &-page-wrap {
            .wrapper {
                overflow: visible;
                padding-bottom: 0;
            }
        }
        &-page {
            .section-title {
                margin-bottom: 24.5px;
                font-size: 2rem;
                line-height: 38px;
            }
        }
        &__inner {
            display: flex;
            align-items: flex-start;
        }
        &__left {
            position: sticky;
            top: 84px;
            flex-shrink: 0;
            //width: 636px;
            width: 49.075%;
            margin-right: 30px;
        }
        &__right {
            flex-grow: 1;
            margin-top: 0;
        }
    }
    @media (min-width: 1366px) {
        &__left {
            margin-right: 48px;
        }
    }
}

.block-white {
    background-color: $white;
    border-radius: 1rem;
}