.offers-others-seller {
    margin-top: 2rem;
    &:not(.active) .item {
        display: none;
        &:nth-child(-n+3) {
            display: flex;
        }
    }
    .list {
        margin-bottom: -.5rem;
    }
    .item {
        display: flex;
        flex-direction: column;
        margin-bottom: .5rem;
        padding: 1rem;
        &__left, &__center, &__right {
            display: flex;
            align-items: center;
        }
        .img {
            flex-shrink: 0;
            width: 64px;
            height: 64px;
            margin-right: 1rem;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        .title {
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            .tooltip {
                margin-left: 13px;
                &__btn {
                    color: $dark-400;
                }
            }
        }
        .rating-reviews-wrap {
            display: flex;
            align-items: center;
            margin-top: 4px;
            .rating, .reviews {
                display: flex;
                align-items: center;
                .count {
                    margin-left: 4px;
                }
            }
            .rating {
                margin-right: 1rem;
            }
        }
        &__center {
            justify-content: space-between;
            margin-top: .5rem;
            & > * {
                width: calc(50% - 4px);
            }
        }
        .price-block {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .old-price {
                margin-bottom: 4px;
                line-height: 17.5px;
            }
            .price {
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }
        .delivery {
            &__title {
                color: $dark-600;
            }
            &__price {
                margin-top: 4px;
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }
        &__right {
            margin-top: .5rem;
        }
        .btn-credit {
            flex-grow: 1;
            padding: 0;
            font-size: 14px;
        }
        .btn-buy {
            width: 44px;
            margin-left: .5rem;
            padding: 0;
            .text {
                display: none;
            }
        }
    }
    .btn-more-offers {
        margin-top: 1rem;
    }
    @media (min-width: 360px) {
        .item {
            &__center {
                & > * {
                    width: calc(50% - 12px);
                }
            }
        }
    }
    @media (min-width: $sm) {
        .item {
            .title {
                font-size: 1rem;
                line-height: 1.5rem;
            }
            .btn-credit {
                font-size: 16px;
            }
            .btn-buy {
                margin-left: 1rem;
            }
        }
    }
    @media (min-width: $ds) {
        margin-top: 63px;
        .item {
            flex-direction: row;
            padding: .5rem;
            &__left {
                flex-grow: 1;
                margin-right: 48px;
            }
            &__center {
                flex-shrink: 0;
                margin-top: 0;
                margin-right: 48px;
                 & > * {
                     width: auto;
                 }
                .price-block {
                    margin-right: 50px;
                    .price {
                        font-size: 20px;
                    }
                }
            }
            &__right {
                flex-shrink: 0;
                margin-top: 0;
            }
            .title {
                font-size: 20px;
                .tooltip {
                    margin-left: .5rem;
                }
            }
            .btn-credit {
                padding: 0 19.5px;
            }
            .btn-buy {
                width: auto;
                padding: 0 20px;
                svg {
                    display: none;
                }
                .text {
                    display: block;
                }
            }
        }
    }
}