.product-purchase {
    padding: 24px;
    &__price-block {
        .price {
            font-size: 2rem;
            line-height: 38px;
        }
    }
    &__credit {
        font-size: 1rem;
        line-height: 1.5rem;
        color: $blue-700;
        &:hover {
            color: $dark-900;
        }
        &-wrap {
            margin-top: .5rem;
        }
    }
    &__info {
        margin-top: 1.5rem;
    }
    &__delivery {
        span {
            color: $dark-600;
        }
        a {
            color: $blue-700;
            &:hover {
                color: $dark-900;
            }
        }
    }
    &__info-list {
        margin-top: 1rem;
        li {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px dotted $dark-400;
            &:not(:last-child) {
                margin-bottom: .5rem;
            }
            & > * {
                max-width: calc(50% - 12px);
                background: $white;
                position: relative;
                z-index: 1;
                margin-bottom: -1px;
                &:first-child {
                    color: $dark-600;
                }
                &:last-child {
                    display: flex;
                    align-items: center;
                    .tooltip {
                        margin-left: .5rem;
                        svg {
                            color: $dark-400;
                        }
                    }
                }
            }
        }
    }

    &__buttons {
        margin-top: 1.5rem;
    }
}