.product-seller-info {
    margin-top: 1.5rem;
    padding: .5rem 1rem;
    &__img, &__rating-product {
        display: none;
    }
    &__name {
        display: flex;
        align-items: center;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: bold;
        .tooltip {
            margin-left: .5rem;
            svg {
                color: $dark-400;
            }
        }
    }
    &__rating {
        &-title {
            margin-right: .25rem;
            color: $dark-600;
        }
        &-count {
            margin-left: .25rem;
        }
        &-seller {
            display: flex;
            align-items: center;
        }
    }
    @media (min-width: $tv) {
        display: flex;
        align-items: center;
        padding: 1rem;
        &__img, &__rating-product {
            display: flex;
        }
        &__img {
            margin-right: 14px;
        }
        &__name {
            font-size: 20px;
        }
        &__rating {
            display: flex;
            margin-top: 8px;
            & > *:not(:last-child) {
                margin-right: 1.5rem;
            }
            &-title {
                margin-right: 5px;
            }
        }
    }
    @media (min-width: $ds) {
        .tooltip__dropdown {
            left: 50%;
            transform: translateX(-50%);
            &:before {
                top: calc(100% - 1px);
                left: 50%;
                transform: rotate(45deg) translateX(-50%);
            }
        }
    }
}