.product-variants {
    margin-top: 1.5rem;
    &__item {
        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
        &.product-variants__item-colors {
            .product-variants__variant:hover .value img {
                opacity: .75;
            }
            &:checked + .value {
                border-color: $cyan-500;
            }
            .value {
                padding: 3px;
                background-color: transparent;
                border-color: transparent;

                img {
                    width: 36px;
                    height: 36px;
                    border-radius: 4px;
                    transition: opacity .3s;
                }
            }
        }
        &.product-variants__item-size {
            .product-variants__title {
                display: flex;
                align-items: center;
            }
            .tooltip {
                margin-left: 1rem;
                &__btn {
                    display: flex;
                    align-items: center;
                    color: $blue-700;
                    transition: all .3s;
                    &:hover {
                        color: $dark-900;
                    }
                    svg {
                        margin-right: .25rem;
                    }
                }
            }
            .value {
                min-width: 44px;
                padding: 3px 11px;
                .size {
                    font-size: 1rem;
                    line-height: 18.4px;
                    &-value {
                        line-height: 17.5px;
                        letter-spacing: .2px;
                        color: $dark-600;
                    }
                }
            }
        }
        &.product-variants__item-width, &.product-variants__item-length {
            .value {
                letter-spacing: .4px;
            }
        }
    }
    &__title {
        margin-bottom: 4px;
        color: $dark-600;
        .color-dark {
            color: $dark-900;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -4px -8px;
    }
    &__variant {
        margin: 0 4px 8px;
        cursor: pointer;
        &:has(> input[disabled]) {
            pointer-events: none;
        }
        &:hover .value {
            border-color: $cyan-500;
        }
        input {
            display: none;
            &:checked + .value {
                border-color: $cyan-500;
            }
            &[disabled] + .value {
                color: $dark-600;
                background-color: $dark-300;
            }
        }
        .value {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5px 11px;
            font-weight: 500;
            background-color: $white;
            border: 1px solid $dark-300;
            border-radius: .5rem;
        }
    }
    @media (min-width: $ds) {
        margin-top: 1rem;
    }
}