.product-series-from-brand {
    margin-top: 1.5rem;
    .product-item .additional-information {
        height: 19px;
    }
    @media (min-width: $ds) {
        margin-top: 3rem;
        .product-item .additional-information {
            height: 20px;
        }
    }
}