.product-tabs {
    margin-top: 24px;
    margin-left: -16px;
    width: calc(100% + 32px);
    box-shadow: inset 0 -2px 0 -1px $dark-300;
    transition: top .4s;
    &.fixed {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        background-color: $white;
    }
    .swiper-slide {
        width: auto;
    }
    .tab {
        padding: 10px 1rem;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 500;
        color: $dark-600;
        &.active {
            color: $dark-900;
            box-shadow: inset 0 -5px 0 -2px $cyan-500;
        }
    }
    @media (min-width: $ds) {
        margin-top: 63px;
        margin-left: 0;
        width: 100%;
        .tab {
            padding: 10px 16.3px 12px;
            &:hover {
                color: $dark-900;
                box-shadow: inset 0 -5px 0 -2px $cyan-500;
            }
        }
    }
}