.product-promotion {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    padding: 7px;
    background: linear-gradient(0deg, #D0D5DD, #D0D5DD),
    linear-gradient(0deg, #EFE0EF, #EFE0EF);
    border: 1px solid $dark-300;
    border-radius: .5rem;
    &__img {
        flex-shrink: 0;
        width: 168px;
        margin-right: .5rem;
        border-radius: 4px;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    &__timer {
        display: flex;
        justify-content: center;
        & > * {
            display: flex;
            height: 24px;
            &:not(:last-child) {
                margin-right: 2px;
            }
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 17px;
                font-weight: bold;
                color: $violet-500;
                background-color: $white;
                border-radius: 4px;
                &:first-child {
                    margin-right: 2px;
                }
            }
            &.dots {
                width: 12px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .dot {
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background-color: $dark-400;
                    &:not(:last-child) {
                        margin-bottom: 4px;
                    }
                }
            }
        }
        &-wrap {
            text-align: center;
            flex-grow: 1;
        }
        &-title {
            margin-bottom: 4px;
            font-size: 10px;
            line-height: 1rem;
            color: $dark-600;
        }
    }
}