.product-purchase-additions {
    margin-top: 1.5rem;
    &.active {
        .product-purchase-additions__item {
            display: block;
        }
    }
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 16px;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 500;
        user-select: none;
    }
    .inner {
        padding: 0 1rem 1rem;
    }
    &__item {
        &:not(:first-child) {
            display: none;
        }
        &:not(:first-child) {
            margin-top: 1.5rem;
        }
        &-title {
            display: flex;

            svg {
                margin-top: 1px;
                margin-right: .5rem;
                color: $blue-700;
            }
        }
        ul {
            margin-top: .75rem;
            padding-left: 26px;
            li:not(:last-child) {
                margin-bottom: .5rem;
            }
        }
    }
    .input-radio, .input-checkbox {
        &__value {
            display: flex;
            font-size: 12px;
            line-height: 18px;
            color: $dark-600;
            .text {
                flex-grow: 1;
            }
            .price {
                flex-shrink: 0;
                margin-left: 1rem;
                color: $dark-900;
            }
        }
        &__icon {
            width: 18px;
            height: 18px;
        }
    }
    .input-radio__icon:before {
        width: 6px;
        height: 6px;
    }
    .input-checkbox:checked + .input-checkbox__icon {
       background-size: 14px;
    }
    &__show-more {
        margin: 0 1rem 1rem;
        font-weight: 500;
        color: $blue-700;
    }
    @media (min-width: $tv) {
        .input-radio, .input-checkbox {
            &__value {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
    @media (min-width: $ds) {
        &__show-more {
            &:hover {
                color: $dark-900;
            }
        }
    }
}