.product-sticky-buy-block {
    .inner {
        display: flex;
        align-items: center;
        &.active {
            .price-block, .btn-to-basket {
                display: none !important;
            }
            .amount, .btn-basket {
                display: flex;
            }
        }
    }
    .price-block {
        .old-price {
            font-size: 12px;
            line-height: 18px;
        }
        .discount {
            padding: 0 4px;
            font-size: 12px;
            line-height: 18px;
            font-weight: bold;
            color: $white;
            background-color: $violet-500;
        }
    }
    .amount {
        display: none;
    }
    .btn {
        max-width: 180px;
        height: 38px;
        font-size: 14px;
        line-height: 20px;
        &-to-basket {
            .text-1 {
                display: none;
            }
        }
        &-basket {
            display: none;
        }
        svg {
            margin-left: .5rem;
        }
    }
    @media (min-width: $tv) {
        .inner {
            padding: .75rem 0;
        }
        .price-block {
            .old-price, .discount {
                font-size: 14px;
                line-height: 20px;
            }
            .price {
                font-size: 20px;
                line-height: 2rem;
            }
        }
        .btn {
            max-width: 240px;
            height: 52px;
            font-size: 18px;
            line-height: 28px;
        }
    }
    @media (max-width: $device) {
        position: fixed;
        z-index: 10;
        bottom: 63px;
        left: 0;
        width: 100%;
        background-color: $white;
        box-shadow: 0px -4px 6px -2px #10182808, 0px -12px 16px -4px #10182814;
        .inner {
            justify-content: space-between;
            padding: .5rem 0;
            .price-block, .amount {
                max-width: calc(50% - 8px);
            }
            .btn {
                width: calc(50% - 8px);
            }
        }
    }
    @media (min-width: $ds) {
        display: none;
    }
}