/** Базовые анимации: */
@import 'keyframes';

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.page {
  position: relative;
  flex: 1 1 auto;
}

.container {
  padding: 0 16px;
}

