.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    padding: 0 19px;
    @extend .text-medium;
    color: $dark-900;
    font-weight: 500;
    background-color: $white;
    border: 1px solid $dark-300;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    user-select: none;
    @media (min-width: $ds) {
        &:hover {
            color: $dark-900;
            border-color: $dark-900;
            box-shadow: none;
        }

        &:focus {
            border-color: $dark-300;
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        }
    }
}

.btn-full-width {
    width: 100%;
}

.btn-green {
    border: none;
    background-color: $cyan-500;
    @media (min-width: $ds) {
        &:hover {
            color: $dark-900;
            background-color: $cyan-300;
        }
        &:focus {
            background-color: $cyan-500;
        }
    }
}

.btn-disabled {
    color: #98a2b3;
    background-color: #d0d5dd;
    pointer-events: none;
}