// breakpoint

$sx: 320px;
$sm: 375px;
$tv: 768px;
$th: 992px;
$ds: 1200px;
$dm: 1700px;
$dl: 1900px;


$font-family: Arial, sans-serif;
$font-size: 16px;
$line-height: 1.4;
$font-weight: 400;

$font-color-primary: #111;
$font-color-secondary: #ccc;

$transition: .3s ease-in-out;
