@import "sidebar";

.account {
    &-content__inner {
        padding: 1.5rem;
        background-color: $white;
        border-radius: 1rem;

        .block {
            &:not(:first-child) {
                margin-top: 1.5rem;
                padding-top: 1.5rem;
                border-top: 1px solid rgba(1, 4, 9, 0.15);
            }
        }

        .block-title {
            margin-bottom: 1.5rem;
            font-size: 20px;
            line-height: 1.5rem;
            font-weight: bold;
        }

        .form-group-title {
            position: absolute;
            top: 4px;
            left: 12px;
            font-size: 10px;
            line-height: 1rem;
            font-weight: bold;
            color: $dark-400;
        }

        .form-input {
            &[disabled] {
                & ~ .form-input-edit {
                    color: $dark-600;
                }
            }
        }

        .form-input-edit {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 0;
            top: 0;
            width: 44px;
            height: 44px;
            color: $cyan-500;
        }

        .form-input-toggle-password {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 0;
            top: 0;
            width: 44px;
            height: 44px;
            color: $dark-600;

            &.active {
                .form-input-toggle-password__hide {
                    display: inline;
                }

                .form-input-toggle-password__show {
                    display: none;
                }
            }

            /* mouse, touch pad */
            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    color: $cyan-500;
                }
            }
        }

        .form-input-toggle-password__hide {
            display: none;
        }

        .input-checkbox__label {
            margin-bottom: 1.5rem;
            font-size: 1rem;
            line-height: 1.5rem;
        }
        .btn {
            padding: 0 19.5px;
        }
    }
    @media (min-width: $ds) {
        display: flex;
        align-items: flex-start;
        padding-top: 24px;
        &-page-wrap .wrapper {
            overflow: visible;
        }
        &-content {
            width: calc(100% - 30.248% - 3rem);
            .page-title {
                margin-top: 0;
            }
            &__inner {
                padding: 2rem;
                .block:not(:first-child) {
                    margin-top: 3rem;
                    padding-top: 3rem;
                }
                .block-title {
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
                .form-input-edit:hover {
                    color: $cyan-500 !important;
                }
            }
            &__form {
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-gap: 24px;
                grid-template-areas:
                "a_f_1 a_f_2"
                "a_f_3 a_f_6"
                "a_f_4 a_f_6"
                "a_f_5 a_f_6"
                "a_f_7 a_f_8";
                .form-group {
                    margin-bottom: 0;
                    &:nth-child(1) {
                        grid-area: a_f_1;
                    }
                    &:nth-child(2) {
                        grid-area: a_f_2;
                    }
                    &:nth-child(3) {
                        grid-area: a_f_3;
                    }
                    &:nth-child(4) {
                        grid-area: a_f_4;
                    }
                    &:nth-child(5) {
                        grid-area: a_f_5;
                    }
                    &:nth-child(6) {
                        grid-area: a_f_6;
                    }
                    &:nth-child(7) {
                        grid-area: a_f_7;
                    }
                }
            }
            &__form-passwords {
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-gap: 24px;
                grid-template-areas:
                "a_p_f_1 a_p_f_10"
                "a_p_f_2 a_p_f_3"
                "a_p_f_4 a_p_f_5";
                .form-group {
                    margin-bottom: 0;

                    &:nth-child(1) {
                        grid-area: a_p_f_1;
                    }
                    &:nth-child(2) {
                        grid-area: a_p_f_2;
                    }
                    &:nth-child(3) {
                        grid-area: a_p_f_3;
                    }
                    &:nth-child(4) {
                        grid-area: a_p_f_4;
                    }
                }
            }
        }
    }
}
